/* .card {
    background-color: #191e24;
    border: 3px solid #387EB8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px 5px;
    color: white;
    border-radius: 45px;
  }

  .button {
    padding: 10px 20px;
    background-color: transparent;
    color: #FFE052;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border: 3px solid #FFE052;
    border-radius: 5em;
    margin-top: 20px;
    transition: 0.2s;
  }
  
  .button:hover {
    color: #191e24;
    background-color: #FFE052;
  }
  
  .welcometo {
    color: #387EB8;
  }
  
  .kelp {
    color: #FFE052;
  } */

  body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    background-color: #ed3820;
    border: 10px solid #e4ebf0;
    max-width: 500px;
    max-height: 300px;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
}

.card img {
    width: 180px;
    margin-bottom: 15px;
}

.content {
    margin-top: 15px;
}

.welcometo {
    color: #387EB8;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.kelp {
    color: #FFE052;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.message {
    color: #220f0f;
    margin-bottom: 20px;
    font-size: 1rem;
}

.button {
    padding: 10px 20px;
    background-color: #FFE052;
    color: #191e24;
    border: none;
    border-radius: 5em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #387EB8;
    color: #fff;
}
